<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>836418937711-t6upulq8tvvnvvrov3biuch1fihl8god.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836418937711-t6upulq8tvvnvvrov3biuch1fihl8god</string>
	<key>API_KEY</key>
	<string>AIzaSyB57F9aFbfVT1Ma4ddU-fctvGya481d1ro</string>
	<key>GCM_SENDER_ID</key>
	<string>836418937711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ct.Test1</string>
	<key>PROJECT_ID</key>
	<string>ctest-66a38</string>
	<key>STORAGE_BUCKET</key>
	<string>ctest-66a38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:836418937711:ios:fde3ac9bf657ceca</string>
	<key>DATABASE_URL</key>
	<string>https://ctest-66a38.firebaseio.com</string>
</dict>
</plist>